<a href="#main-content" id="skip-link" class="skip-link">
  Saltar a contenido principal
</a>

<style>
  .skip-link {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    background-color: #fff;
    letter-spacing: 0.15ch;
    text-decoration: none;
  }

  .skip-link:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    outline-offset: 2px;
  }
</style>
