---
import { NavigationList } from '@components/NavigationList';
import { ToggleMode } from '@components/ToggleMode';
---

<header id="main-header">
  <nav>
    <NavigationList />
    <ToggleMode />
  </nav>
</header>
