---
---

<div class="border border-blue-200 bg-blue-50">
  <p>Subscribete al newsletter</p>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat,
    corrupti! Nobis quisquam quae adipisci. Ratione at facere modi illo corrupti
    delectus, temporibus architecto, enim velit, quasi tempora quisquam
    explicabo accusantium!
  </p>

  <form action="">
    <div>
      <label for="email" class="sr-only">Emails</label>
      <input
        type="email"
        name="email"
        id="email-field"
        placeholder="email@example.com"
      />
      <button type="button">Enviar</button>
    </div>
  </form>

  <p>
    Quibusdam dolorem aspernatur optio animi nemo nostrum, saepe ducimus odio!
  </p>
</div>
