---
import { Link } from '@components/Link';
---

<ul role="list">
  <li>
    <Link href="/">Inicio</Link>
  </li>
  <li>
    <Link href="/blog">Blog</Link>
  </li>
  <li>
    <Link href="/sobre-mi">Sobre mí</Link>
  </li>
  <li>
    <Link href="/notas">Notas</Link>
  </li>
  <li>
    <Link href="/snippets">Snippets</Link>
  </li>
</ul>
